{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Starseed - pico funding</title>
  <base href="/">
  <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/form-basic.css' %}">
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚀</text></svg>">
</head>

<body>
  <header>
    <h1><a href="/">Starseed - pico funding</a></h1>
    <a href="/about">About Us / FAQ</a>
  </header>

  <div class="main-header">
    <h2>{% block header %}Starseed was created to empower ideas, businesses or projects to take the next step.{% endblock %}</h2>
    {% block sub_header %}{% endblock %}
  </div>
  <div class="main-content">
    {% block content %}
    {% endblock %}

    <footer class="footer">
      <div class="footer-content">
        <span class="copyright">
          <a href="https://twitter.com/StarseedFund">
            @StarseedFund
          </a>
          <br>
          © 2021
        </span>
      </div>
    </footer>
  </div>
</body>

</html>