{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <style>
    body {
        bgcolor: black;
        background-size:auto 500%;                   /* <------ */
        background-repeat: no-repeat;
        background-position: center center;            /* optionally, center the image */
    }
    
    video#bgvid {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: url(polina.jpg) no-repeat;
    background-size: cover;
    }
    </style>
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>{% block title %} {% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div class="container">
{% block content %} {% endblock %}
</div>
</body>
</html>