{% extends "base.html" %}

{% load bootstrap3 %}

{% load staticfiles %}

{% block content %}
  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script src="/static/script.js"></script>
  <link rel="stylesheet" href="/static/styles.css">
<div class="row" style="text-align:center;">
</br>
<div class="home-card">
</br>

<video autoplay id="bgvid">
<source src="/static/video.mp4" type="video/mp4">
</video>

	<a href="/"><img src="{% static "logo-trans.png" %}"></a>
	</br></br>
	<p class="slogan-large">Moonpie - Bounties</p>
	<div id='cssmenu'>
<ul>
   <li><a href='/moonpie'>About</a></li>
   <li class='active'><a href='/bounties'>Bounties</a></li>
   <li><a href='/partners'>Partners</a></li>
   <li><a href='/financials'>Financials</a></li>
</ul>
</div>
</br>
<div style="text-align:left; width:300px; margin:auto;">
    
	<p class="slogan">Invest in this Product</p>
	<sub>and buy seeds (equity) directly</sub>
	<input type="range" name="points" min="0" max="100000" onchange="rangevalue.value=value">
	<output id="rangevalue">50000</output>
</br></br>
	<p class="slogan">Add a Task Bounty:</p>
	<p>What is the task you would like done on the prooject?:</p>
	<input name="pitch" class="inputbox">
</br>	</br>
	<p class="slogan">Describe the task:</p>
	<p>Tell us more abou this task:</p>
	<textarea class="inputbox tarea"></textarea>
	
</div>

	{% buttons %}
	<a href="/product">
		<button type="submit" class="btn btn-primary">
      		{% bootstrap_icon "star" %} Add the Bounty Task
    	</button>
    	</a>
	{% endbuttons %}
	<p class="github-slogan">And we're open source! <i class="fa fa-github-alt"></i> </p>
	</div>


</div>
{% endblock %}


