{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title %}StarSeed - Equity Sharing Product Platform{% endblock %}
{% block content %}

<div class="row" style="text-align:center;">
	</br>
	<div class="home-card">
		</br>

		<video autoplay loop poster="{% static 'purple-nebula.jpg' %}" id="bgvid">
			<source src="https://826fc79f49996b1370f534ef1d6b64b55462af1b.googledrive.com/host/0B9LVk4xbDIJTanZTSzZONEhoSzg" type="video/mp4">
		</video>

		<img src="{% static "logo-trans.png" %}">
		</br></br>
		<p class="slogan">Starseed is an equity-crowdfunding skill-sharing product-innovation platform.</p>
		</br>
	
		{% buttons %}
		<a href="/product">
			<button type="submit" class="btn btn-primary">
	      		{% bootstrap_icon "star" %} Start a Product
	    	</button>
	    	</a>
		{% endbuttons %}
		<p class="github-slogan">And we're open source! <i class="fa fa-github-alt"></i> </p>
		</br></br>
	</div>
</div>
{% endblock %}
