{% extends "base.html" %}
{% load static %}
{% block header %}Starseed provides funding of $100 to ideas, businesses, projects, whatever. We then help you make them successful!{% endblock %}
{% block sub_header %}<p>In exchange for the $100, starseed asks for some equity.</p>{% endblock %}
{% block content %}
        <form class="form-basic" method="post" action="/">
            {% csrf_token %}

            <div class="form-title-row">
                <h1>Apply for $100 funding</h1></br>
                <small style="color:grey;">all fields are required</small>
            </div>
            <div class="form-row">
                <label>
                    <span>Your full name</span>
                    {{form.person}}
                </label>
            </div>
            <div class="form-row">
                <label>
                    <span>Your email</span>
                    {{form.email}}
                </label>
            </div>
            <div class="form-row">
                <label>
                    <span>Name of idea or business</span>
                    {{form.name}}
                </label>
            </div>
            <div class="form-row">
                <label>
                    <span>Describe your idea or business</span>
                    {{form.description}}
                </label>
            </div>
            <div class="form-row">
                <label>
                    <span>What % of equity are you offering?</span>
                    {{form.equity}}
                </label>
            </div>
            <div class="form-row">
                <label>
                    <span>Friend email #1</span>
                    {{form.email1}}
                </label>
            </div>
            <div class="form-row">
                <label>
                    <span>Friend email #2</span>
                    {{form.email2}}
                </label>
            </div>
            <div class="form-row" style="text-align: center;">
                {{form.captcha}}{{form.errors.captcha}}
            </div>
            <div class="form-row">
                
                <button type="submit">Apply for Funding</button>

            </div>
        </form>
{% endblock %}