{% extends "base.html" %}

{% load bootstrap3 %}

{% load staticfiles %}

{% block content %}
<div class="row" style="text-align:center;">
	</br>
	<div class="home-card">
		</br>
	
		<video autoplay loop poster="purple-nebula.jpg" id="bgvid">
			<source src="https://baa4d3c516d2f310b7e14a5aa515faa9d43a520e.googledrive.com/host/0B9LVk4xbDIJTb1FyS3JXYWxqeDA/The%20Sun%20Never%20Sets%20in%20This%20Space%20Station%20View%20_%20NASA%20ISS%20Science%20Full%20HD%20Video-Wi8MyCVmz6I_1.mp4" type="video/mp4">
		</video>
	
		<img src="{% static "logo-trans.png" %}">
		</br></br>
		<p class="slogan">Starseed is an equity-crowdfunding skill-sharing product-innovation platform.</p>
		</br>
	
		{% buttons %}
		<a href="/product">
			<button type="submit" class="btn btn-primary">
	      		{% bootstrap_icon "star" %} Start a Product
	    	</button>
	    	</a>
		{% endbuttons %}
		<p class="github-slogan">And we're open source! <i class="fa fa-github-alt"></i> </p>
		</br></br>
	</div>
</div>
{% endblock %}